* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main p{
    background-color: antiquewhite;
    font-size: large;
    font-variant: small-caps;
}

header,
section,
footer {
    margin: 0;
    padding: 1px;
}

header {
    padding: 40px;
    background-color: rgb(233, 48, 16);
}

nav {
    background-color: rgb(51, 51, 51);
    overflow: hidden;
}

nav a {
    text-decoration: none;
    font-variant: small-caps;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

main {
    background-color: white;
    text-align: center;
}

body main section h1 {
    font-variant: small-caps;
    padding: 20px;
    font-style: italic;
    background-color:gray;
}

section {
    padding-bottom: 20px;
    background-color: rgb(241, 241, 241);
}

video {
    padding: 10px;
}

iframe {
    height: 250px;
    width: 400px;
}

img {
    padding: 10px;
}

footer{
    font-variant: small-caps;
    background-color: #333;
    overflow: hidden;
    font-size: larger;
    color: whitesmoke;
    text-align: center;
}
footer a{
    color: red;
}
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    body{
        display: block;
    } 
    iframe{
        width: 100%;
        height: auto;
    }  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 601px) and (max-width: 991) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {

}